<h1>Tasks</h1>

<h2>To Do:</h2>

<ul>
    {% for task in uncompleted_tasks %}
        <li><a href="{% url 'task' task.id %}">{{ task.description }}</a></li>
    {% endfor %}
</ul>

<ul>
   <form action="{% url 'todo_list' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="create" value="Create" />
    </form>
</ul>


<h2>Completed:</h2>
{% if not completed_tasks %}
<p>Nothing has been completed.</p>
{% endif %}

<ul>
    {% for task in completed_tasks %}
        <li><a href="{% url 'task' task.id %}">{{ task.description }}</a></li>
    {% endfor %}
</ul>



<h3>Switch to <a href="{% url 'notes' %}">Notes App</a>
</h3>